@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  src: url(../fonts.gstatic.com/nunitosans/nunitosans-400.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  src: url(../fonts.gstatic.com/nunitosans/nunitosans-700.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 900;
  font-stretch: normal;
  src: url(../fonts.gstatic.com/nunitosans/nunitosans-900.ttf) format('truetype');
}
